{include file="_header.inc.tpl.html"}
{strip}
	<h2>Manutenção das categorias</h2>
	{if $CMS_Category}
		<form method="post">
			id: <input id="category_id" type="text" name="category_id" value="{$CMS_Category.category_id}" size="5" readonly="true" /><br />
			<label for="title">Título:</label> <input id="title" type="text" name="title" value="{$CMS_Category.title}" size="50" maxlength="100" /><br />
			<label for="slug">Slug:</label> <input id="slug" type="text" name="slug" value="{$CMS_Category.slug}" size="50" maxlength="100" /><br />
			{*<input id="published" type="checkbox" name="published" value="1" {if $CMS_Category.published=='1'}checked="checked"{/if} /><label for="published">Publicado</label><br />*}
			<input type="submit" value="Salvar" /> <input type="button" value="Cancelar" onclick="location='/admin/categories'" />
		</form>
	{else}
		<a href="/admin">Menu Principal</a> | <a href="/admin/categories/add">Nova categoria</a>
		<table cellspacing="0" cellpadding="2" border="1">
			<thead>
				<tr>
					<th>id</th>
					<th>Título</th>
					<th>Publicado</th>
					<th>Atualização</th>
					<th>Ação</th>
				</tr>
			</thead>
			<tbody>
				{foreach from=$CMS_CategoryList item=Category key=CategoryNum}
					<tr>
						<td>{$Category.category_id}</td>
						<td>{$Category.title}</td>
						<td>{if $Category.published == '1'}Sim{else}Não{/if}</td>
						<td>{$Category.dt_update}</td>
						<td><a href="/admin/categories/edit/{$Category.category_id}">Editar</a> | <a href="/admin/categories/delete/{$Category.category_id}">Excluir</a></td>
					</tr>
				{foreachelse}
					<tr><td>No categories to list</td></tr>
				{/foreach}
			</tbody>
		</table>
	{/if}
{/strip}
{include file="_pagination.inc.tpl.html"}
{include file="_footer.inc.tpl.html"}