{include file="_header.inc.tpl.html"}
{strip}
	<h2>Alteração da senha</h2>
	{if $Error}
		<div>ERRO: {$Error}</div>
	{/if}
	{if $Success}
		<div>{$Success}</div>
		<div><a href="/admin">Retornar ao menu</a></div>
	{else}
		<form method="post">
			<label for="password">Nova senha:</label> <input id="password" type="password" name="password" value="" size="10" maxlength="20" /><br />
			<label for="passwor2">Redigite a nova senha:</label> <input id="passwor2" type="password" name="passwor2" value="" size="10" maxlength="20" /><br />
			<input type="submit" value="Salvar" /> <input type="button" value="Cancelar" onclick="location='/admin'" />
		</form>
	{/if}
{/strip}
{include file="_pagination.inc.tpl.html"}
{include file="_footer.inc.tpl.html"}