{include file="_header.inc.tpl.html"}
{strip}
	<div id="login">
		<h2>Login</h2>
		{if $CMS_LoginError}
			<div class="error_message">
				Usuário e/ou senha incorreto(s).
			</div>
		{/if}
		<form class="login" method="post">
			<fieldset>
				<div class="field"><label for="loginUser">Usuário:</label></div> <input id="loginUser" class="data" name="user" type="text" /><br />
				<div class="spacer"></div>
				<div class="field"><label for="loginPawword">Senha:</label></div> <input id="loginPassword" class="data" name="password" type="password" /><br />
			</fieldset>
			<div class="buttons">
				<input name="submit" type="submit" value="OK" />
			</div>
		</form>
	</div>
{/strip}
{include file="_footer.inc.tpl.html"}