@charset "utf-8";

/* CSS Document */

body {
	background-color: #fff;
	color: #333;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

.aright {
	text-align: right;
}
.error_message {
	background-color: #ff4040;
	border: 1px dashed #a60000;
	color: #a60000;
	font-size: 100%;
	font-weight: bold;
	margin: 0 auto 10px;
	padding: 10px 0;
	text-align: center;
	width: 70%;
}

/* Header */

#header {
	background-color: #efefef;
	border-bottom: 1px solid #ccc;
	margin: 0 0 10px 0;
	padding: 5px 0;
	width: 100%;
}
	#header h1 {
		font-size: 200%;
		font-weight: bold;
		margin: 0;
		padding: 0;
		text-align: center;
	}

/* Login */

#login {
	background-color: #6b90d4;
	border: 1px solid #29477f;
	margin: 0 auto;
	padding: 0;
	width: 500px;
}
	#login h2 {
		background-color: #052a6e;
		color: #6b90d4;
		font-size: 130%;
		font-weight: bold;
		padding: 3px 0;
		margin: 0 0 10px 0;
		text-align: center;
	}
	#login .login {
		margin: 0 auto 5px;
		width: 300px;
	}
		#login .login fieldset {
			border: 0;
			padding: 0;
			margin: 0 0 5px 0;
		}
		#login .login input.data {
			background-color: #fff;
			border: 0;
			padding: 0;
			height: 15px;
			line-height: 15px;
			width: 195px;
		}
		#login .login .field {
			color: #000;
			display: block;
			float: left;
			height: 15px;
			line-height: 15px;
			margin: 0 5px 0 0;
			width: 100px;
			text-align: right;
			vertical-align: middle;
		}
		#login .login .spacer {
			height: 3px;
		}
		#login .login .buttons {
			text-align: center;
		}
			#login .login .buttons input {
				background-color: #6c85d5;
				border: 1px solid #1240ab;
				color: #06266f;
				font-weight: bold;
				padding: 1px 5px;
			}

/* Menu */

#menu {
	background-color: #b5c5c8;
	border: 1px solid #626b6c;
	margin: 0 auto;
	padding: 0;
	width: 400px;
}
	#menu h2 {
		background-color: #3f4a4c;
		color: #fff;
		font-size: 130%;
		font-weight: bold;
		padding: 3px 0;
		margin: 0 0 10px 0;
		text-align: center;
	}
	#menu ul {
		margin: 0 auto;
		padding: 0;
		list-style: none;
		width: 380px;
	}
		#menu ul li {
			margin-bottom: 5px;
		}
			#menu ul li a {
				background-color: #efefef;
				color: #06266f;
				display: block;
				padding: 2px 0;
				text-align: center;
				text-decoration: none;
			}
			#menu ul li a:hover {
				background-color: #64a8d1;
				color: #101010;
			}

/* Content */

#content {
	padding: 0;
}
	#content h2 {
		background-color: #f3fcfc;
		color: #369;
		font-size: 130%;
		font-weight: bold;
		padding: 3px 0;
		margin: 0 0 10px 0;
		text-align: center;
	}
	#content .menu {
		width: 100%;
		height: 15px;
		line-height: 15px;
		padding: 0 10px;
		margin: 0 auto;
		border-bottom: 1px solid #efefef;
		background-color: #e0f5e2;
		list-style: none;
		vertical-align: middle;
	}
		#content .menu li {
			float: left;
		}
			#content .menu li a {
				display: block;
				padding: 0 5px;
				margin: 0 2px;
				background-color: #efefef;
				border-left: 1px solid #666;
				border-right: 1px solid #666;
				color: #369;
				font-weight: bold;
				text-decoration: none;
			}
			#content .menu li a:hover {
				background-color: #369;
				color: #fff;
			}
	#content table.data {
		width: 100%;
		border: 1px solid #333;
		margin: 10px 0 0 0;
	}
		#content table.data th {
			padding: 2px;
			border: 1px solid #333;
			background-color: #666;
			color: #fff;
			font-weight: bold;
			text-align: center;
		}
		#content table.data td {
			padding: 1px;
			border: 1px solid #333;
			background-color: #fff;
			color: #000;
			font-weight: normal;
		}
			#content table.data td a {
				display: block;
				float: left;
				padding: 0 5px;
				margin: 0 2px;
				background-color: #ccc;
				border: 1px solid #666;
				color: #000;
				font-weight: bold;
				text-decoration: none;
			}
			#content table.data td a:hover {
				background-color: #999;
				color: #fff;
			}
	#content .form {
		width: 770px;
		padding: 5px 0;
		border: 1px solid #333;
		margin: 0 auto;
	}
		#content .form fieldset {
			padding: 0 5px;
			border: 0;
			margin: 0;
		}
		#content .form .buttons {
			margin-top: 10px;
			text-align: center;
		}
		#content .form label {
			padding: 0 0 10px 0;
		}
		#content .form input.input {
			padding: 1px;
		}
		#content .form textarea {
			width: 100%;
		}

/* Pagination */

div.pagination {
	clear: right;
	margin: 5px auto;
	text-align: center;
}
	div.pagination a {
		padding: 1px 3px;
		margin: 0 1px;
		border: 1px solid #333;
		background-color: #ccc;
		color: #000;
		text-decoration: none;
	}
	div.pagination a:hover {
		background-color: #666;
		color: #fff;
	}
	div.pagination span.currpage {
		padding: 2px 3px;
		margin: 0 1px;
		border: 1px solid #ccc;
		color: #800;
		font-weight: bold;
	}